# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Logs
logs/
*.log

# Telegram Session
sessions/*
!sessions/.gitkeep
*.session
*.session-journal
telegram_session.session
telegram_session.session.backup
telegram_session.session.bkp

# Archives
*.tar
*.tar.gz
*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
